:root {
  /* Lichte thema pallet */
  /* Pallet 1 */
  --color-13: #164A41;
  --color-14: #4D774E;
  --color-15: #9DC88D;
  --color-16: #F1B24A;
  --color-17: #FFFFFF;

  /* Pallet 2 */
  --color-18: #190933;
  --color-19: #EE9E8E;
  --color-20: #FFDBC3;
  --color-21: #FFF5E0;
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
   /* lichte kleur 1ste pallet (groene kleuren) */
  /* background-color: var(--color-13); */
  background: linear-gradient( to right,
                              var(--color-13),
                              var(--color-14),
                              var(--color-15)
  );

  /* lichte kleur 2de pallet pallet(roze kleur) */
  /* background-color: var(--color-20); */
}
h1{
    text-align: center;
    padding: 1em;

     /* lichte kleur 1ste pallet (groene kleuren) */
    /* color: var(--color-16); */
    color: white;

    /* lichte kleur 2de pallet pallet(roze kleur) */
    /* color: var(--color-18); */
}
div{
    background: transparent;
    height: 100px;
    width: 100%;
    /* border-bottom: 1px black solid; */
}
.filter{
    padding-bottom: 1em;
}
.filter ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin-left: 10em;
    margin-bottom: 2em;
}
.filter ul button{
    /* background-color: rgb(211, 211, 211); */
    /* lichte kleur 1ste pallet (groene kleuren) */
    background-color: var(--color-13);
    /* color: var(--color-16); */
    color: white;

    /* lichte kleur 2de pallet pallet(roze kleur) */
    /* background-color: var(--color-18);
    color: var(--color-20); */

    padding: 1em;
    border-radius: 2em;

}
.filter p{
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
    /* lichte kleur 1ste pallet (groene kleuren) */
    color: var(--color-17);

    /* lichte kleur 2de pallet pallet(roze kleur) */
    /* color: var(--color-18); */
}
.cards{
    background: transparent;
    height: 100%;
    margin-top: 1em;
    padding: 30px 30px;
    width: 100%;
    text-align: center;
}
.cards ul{
    list-style-type: none;
    display: flexbox;
    text-align: center;
    gap: 1em;
}
.cards ul li{
    position: relative;
    text-align: center;
    height: 230px;
    /* background-color: #86ECCD; */
    background-image: linear-gradient(
        transparent 10%, 
        var(--color-15) 0 90%, 
        var(--color-15) 0 );
    /* lichte kleur 1ste pallet (groene kleuren) */
    /* background-color: var(--color-15); */

    /* lichte kleur 2de pallet pallet(roze kleur) */
    /* background-color: var(--color-19); */
    text-align: center;
    /* margin: 1em; */
}
.cards ul li:hover{
    translate: 0 -1em;
    transition: 1s;
    cursor: pointer;
}
.cards ul a{
    font-size:1.5em;
    /* padding-left: .7em; aligns the names */
    text-decoration: none;
    color: black;
}
.cards ul li img{
    position: absolute;
    height: 160px;
    text-align: center;
    translate: 0 0.9em;
    left: 25%;
    border-radius: 2em;
    text-align: center;
}
@media only screen and (min-width: 667px) {
    .cards{
        width: 100%;
    }
    .cards ul{
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
    }
}
@media only screen and (min-width: 870px){
    .cards ul{
            columns: 3;
            -webkit-columns: 3;
            -moz-columns: 3;
    }
}
@media only screen and (min-width: 1084px){
    .cards ul{
            columns: 4;
            -webkit-columns: 4;
            -moz-columns: 4;
    }
}
.bericht-article{
    padding: 1em;
}
.bericht-article h2{
    font-size: 1.7em;
}
.bericht-article > li{
    padding: 2em;
}
form{
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
}
form > label{
    margin-left: .5em
    ;
}
form > button{
    border-radius: 1.5em;
    padding: .5em;
    width: 6em;
    margin-left: .5em;
}
textarea{
    height: 50px;
    display: block;
    margin: .5em;
}

/* styling voor de person ejs */

.person-ejs{
   text-align: center;
}
.person-ejs h2{
    text-align: center;
}
.back-btn{
    margin: 2em;
    padding: 2em;
    background-color: rgb(113, 113, 113);
    border-radius: 80px 5px 5px 10px;
}
.cards h2{
    margin-bottom: 2em;
    margin-top: 1em;
    border-top: 1px black solid;
    /* lichte kleur 1ste pallet (groene kleuren) */
    color: var(--color-13);

    /* lichte kleur 2de pallet pallet(roze kleur) */
    /* color: var(--color-18); */
}
.cards p{
    position: absolute;
    font-weight: 500;
    /* lichte kleur 1ste pallet (groene kleuren) */
    color: var(--color-13);

    /* lichte kleur 2de pallet pallet(roze kleur) */
    /* color: var(--color-18); */
}


/* test test */

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
  }
  .image-test{
    height: 400px;
    width: 400px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: yellow;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* border: 1px red solid; */
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    /* background-color: white; */
    /* lichte kleur 1ste pallet (groene kleuren) */
    background-color: var(--color-13);

    /* lichte kleur 2de pallet pallet(roze kleur) */
    /* background-color: var(--color-19); */  
    /* color: black; */
    transform: rotateY(180deg);
    overflow: auto;
  }
  /*  */
  
  .person-ejs{
  display: flex;
  justify-content: center;
  }
  .naam{
    width: 100vw;
    display: flex;
  justify-content: center;
  }
  .person-ejs h2{
  display: flex;
  justify-content: center;
  }
  .back-btn{
     margin: 2em;
     padding: 2em;
     /* background-color: rgb(113, 113, 113); */
     /* lichte kleur 1ste pallet (groene kleuren) */
     background-color: var(--color-16);
     color: var(--color-17);

     /* lichte kleur 2de pallet pallet(roze kleur) */
     /* background-color: var(--color-18);
     color: var(--color-19); */
     border-radius: 80px 5px 5px 10px;
  }
  .cards h2{
     margin-bottom: 2em;
     margin-top: 1em;
     border-top: 1px black solid;
  }
  .cards p{
     position: absolute;
     bottom: 0;
     font-weight: 500;
  }
  h2 {
    /* lichte kleur 1ste pallet (groene kleuren) */
    color: var(--color-17);

    /* lichte kleur 2de pallet pallet(roze kleur) */
    /* color: var(--color-18); */
  }



  /* .test-test{
    translate: 50em 10em;
    width: 6em;
    height: 1.5em;
    background-color: grey;
    padding: 2em;
    border-radius: 3em 3em 3em 0;
  }

  .test-test-2{
    translate: 60em 10em;
    width: 6em;
    height: 1.5em;
    background-color: grey;
    padding: 2em;
    border-radius: 3em 3em 0 3em;
  } */
  textarea{
    border: none;
    /* border-radius: 2em; */
  }
  /* .bericht-article{
    overflow: auto;

  } */
  .bericht-article ul{
    list-style-type: none;
  }
  .bericht-article li{
    width: 4em;
    height: 1.5em;
    background-color: grey;
    color: black;
    padding: 1em;
    border-radius: 3em 3em 3em 0;
    margin: .5em;
  }
  .bericht-article p{
    color: black;
    /* lichte kleur 1ste pallet (groene kleuren) */
    /* color: var(--color-17); */
    z-index: 99;

    /* lichte kleur 2de pallet pallet(roze kleur) */
    /* color: var(--color-21); */
  }

  .bericht-article li:nth-of-type(even){
    border-radius:  3em 3em 0 3em;
  }

  .bericht-article li:nth-of-type(3n){
    border-radius:  3em 3em 3em 0;
  }

  .bericht-article li:nth-of-type(5n + 3){
    border-radius:  3em 3em 0 3em;
  }

  .flip-card-back form {
    position: sticky;
    bottom: 0;
    /* display: flex; */
    /* justify-content: flex-end; */
  }

  .verzend-btn{
    width: 7em;
    height: 2em;
    /* lichte kleur 1ste pallet (groene kleuren) */
    background-color: var(--color-16);
    color: var(--color-17);

    /* lichte kleur 2de pallet pallet(roze kleur) */
    /* background-color: var(--color-18);
    color: var(--color-21); */
    padding: .5em;
    border-radius: 3em 3em 0 3em ;
    margin-left: auto;
  }