*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
h1{
    text-align: center;
    padding: 1em;
}
h2{
    padding-left: 1em;
}
div{
    background-color: #fafafa;
    height: 100px;
    width: 100%;
}
.filter{
    padding-bottom: 1em;
}
.filter ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.filter ul li{
    background-color: rgb(211, 211, 211);
    padding: 1em;
    border-radius: 2em;
}
.filter p{
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
}
.cards{
    background-color: white;
    height: 100%;
    margin-top: 1em;
    width: 100%;
}
.cards ul{
    list-style-type: none;
    display: flexbox;
}
.cards ul li{
    position: relative;
    text-align: center;
    height: 200px;
    background-image: linear-gradient(
        white 20%, 
        #86ECCD 0 80%, 
        #86ECCD 0 );
    /* when putting both off the articles are aligned straight */
    /* padding: 1em; */
    /* margin: 1em;  */
}
.cards ul a{
    font-size:1.5em;
    /* padding-left: .7em; aligns the names */
    text-decoration: none;
    color: black;
}
.cards ul li img{
    position:absolute;
    height: 200px;
    text-align: center;
    left: 25%;
}
@media only screen and (min-width: 667px) {
    .cards{
        width: 100%;
    }
    .cards ul{
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
    }
}
@media only screen and (min-width: 870px){
    .cards ul{
            columns: 3;
            -webkit-columns: 3;
            -moz-columns: 3;
    }
}
@media only screen and (min-width: 1084px){
    .cards ul{
            columns: 4;
            -webkit-columns: 4;
            -moz-columns: 4;
    }
}
